@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: "Roboto";
}

body {
  background-color: #0f0f0f;
}

label {
  color: white;
}

.titleText {
  color: white;
}

.name {
  color: white;
}